@charset "utf-8";

/********* 管理画面 ***********************************************************/

div#trimming {
    margin-bottom: 100px;
}

form.trimming {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    margin: 0 -20px;
    padding: 10px 20px 0 20px;
    border-top: 1px solid #666666;
    background-color: #CCCCCC;
}
form.trimming dl {
    float: left;
}
form.trimming dl dt {
    display: none;
}
form.trimming p {
    float: left;
    margin: 9px 10px;
}

#sortable span.handle {
    cursor: move;
    font-weight: bold;
}
